/*.container {
    background-color: silver;
    border-radius: 10px;
    padding: 25px;
    margin-top: 50px;
}*/

input:invalid { border-color: #39465e; } input, input:valid { border-color: #39465e; }

.payment-form{
    padding-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}

.payment-form.dark{

}
.payment-form .content{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
    background-color: white;
}

.payment-form .block-heading{
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.payment-form .block-heading p{
    text-align: center;
    max-width: 420px;
    margin: auto;
    opacity:0.7;
}

.payment-form.dark .block-heading p{
    opacity:0.8;
    color: #ffffff;
}

.payment-form .block-heading h1,
.payment-form .block-heading h2,
.payment-form .block-heading h3 {
    margin-bottom:1.2rem;
    color: #ffffff;
}

.payment-form form{
    border-top: 2px solid #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
    background-color: #e9e9e9;
    padding: 0;
    max-width: 600px;
    margin: auto;
}

.payment-form .title{
    font-size: 1em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 0.8em;
    font-weight: 600;
    padding-bottom: 8px;
}

.payment-form .products{
    background-color: #f7fbff;
    padding: 25px;
}

.payment-form .products .item{
    margin-bottom:1em;
}

.payment-form .products .item-name{
    font-weight:600;
    font-size: 0.9em;
}

.payment-form .products .item-description{
    font-size:0.8em;
    opacity:0.6;
}

.payment-form .products .item p{
    margin-bottom:0.2em;
}

.payment-form .products .price{
    float: right;
    font-weight: 600;
    font-size: 0.9em;
}

.payment-form .products .total{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    padding-top: 19px;
    font-weight: 600;
    line-height: 1;
}

.payment-form .card-details{
    padding: 25px 25px 15px;
}

.payment-form .card-details label{
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #722f37;
    text-transform: uppercase;
}

.payment-form .card-details button{
    margin-top: 0.6em;
    padding:12px 0;
    font-weight: 600;
}

.payment-form .date-separator{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

@media (min-width: 576px) {
    .payment-form .title {
        font-size: 1.2em; 
    }

    .payment-form .products {
        padding: 40px; 
    }

    .payment-form .products .item-name {
        font-size: 1em; 
    }

    .payment-form .products .price {
        font-size: 1em; 
    }

    .payment-form .card-details {
        padding: 40px 40px 30px; 
    }

    .payment-form .card-details button {
        margin-top: 2em; 
    } 
}
/*BOTON CHECKBOX*/
.text-small {
    font-size: 0.9rem !important;
}

.header-blue {
    background:linear-gradient(135deg, #172a74, #21a9af);
    background-color:#184e8e;
    padding-bottom:80px;
    font-family:'Source Sans Pro', sans-serif;
}

@media (min-width:768px) {
    .header-blue {
        padding-bottom:120px;
    }
}

.navbar {
    padding-top:.75rem;
    padding-bottom:.75rem;
    color:#fff;
    border-radius:0;
    box-shadow:none;
    border:none;
}

@media (min-width:768px) {
    .header-blue .navbar {
        padding-top:1rem;
        padding-bottom:1rem;
    }
}

.navbar .navbar-brand {
    font-weight:bold;
    color:inherit;
}

.navbar .navbar-brand:hover {
    color:#f0f0f0;
}

.navbar .navbar-collapse {
    border-top:1px solid rgba(255,255,255,0.3);
    margin-top:.5rem;
}

@media (min-width:768px) {
    .header-blue .navbar .navbar-collapse {
        border-color:transparent;
        margin:0;
    }
}

.navbar .navbar-collapse span .login {
    color:#d9d9d9;
    margin-right:.5rem;
    text-decoration:none;
}

.navbar .navbar-collapse span .login:hover {
    color:#fff;
}

.navbar .navbar-toggler {
    border-color:rgba(255,255,255,0.3);
}

.navbar .navbar-toggler:hover, .header-blue .navbar-toggler:focus {
    background:none;
}

.navbar .navbar-nav a.active, .header-blue .navbar .navbar-nav > .show .dropdown-item {
    background:none;
    box-shadow:none;
}

@media (min-width: 768px) {
    .header-blue .navbar-nav .nav-link {
        padding-left:.7rem;
        padding-right:.7rem;
    }
}

@media (min-width: 992px) {
    .header-blue .navbar-nav .nav-link {
        padding-left:1.2rem;
        padding-right:1.2rem;
    }
}

.navbar .navbar-nav > li > .dropdown-menu {
    margin-top:-5px;
    box-shadow:0 4px 8px rgba(0,0,0,.1);
    background-color:#fff;
    border-radius:2px;
}

.navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item {
    line-height:2;
    color:#37434d; 
}

.navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item:hover {
    background:#ebeff1;
}

.action-button, .header-blue .action-button:not(.disabled):active {
    /**border:1px solid rgba(255,255,255,0.7); **/
    border-radius:40px;
    color:#ebeff1;
    box-shadow:none;
    text-shadow:none;
    padding:.3rem .8rem;
    background:transparent;
    transition:background-color 0.25s;
    outline:none;
}

.action-button:hover {
    color:#fff;
}

.navbar .form-inline label {
    color:#d9d9d9;
}

.navbar .form-inline .search-field {
    display:inline-block;
    width:80%;
    background:none;
    border:none;
    border-bottom:1px solid transparent;
    border-radius:0;
    color:#ccc;
    box-shadow:none;
    color:inherit;
    transition:border-bottom-color 0.3s;
}

.navbar .form-inline .search-field:focus {
    border-bottom:1px solid #ccc;
}

.hero {
    margin-top:20px;
    text-align:center;
}

@media (min-width:768px) {
    .header-blue .hero {
        margin-top:60px;
        text-align:left;
    }
}

.hero h1 {
    color:#fff;
    font-size:40px;
    margin-top:0;
    margin-bottom:15px;
    font-weight:300;
    line-height:1.4;
}

@media (min-width:992px) {
    .header-blue .hero h1 {
        margin-top:190px;
        margin-bottom:24px;
        line-height:1.2;
    }
}

.hero p {
    color:rgba(255,255,255,0.8);
    font-size:20px;
    margin-bottom:30px;
    font-weight:300;
}

.phone-holder {
    text-align:right;
}

div.iphone-mockup {
    position:relative;
    max-width:300px;
    margin:20px;
    display:inline-block;
}

.iphone-mockup img.device {
    width:100%;
    height:auto;
}

.iphone-mockup .screen {
    position:absolute;
    width:88%;
    height:77%;
    top:12%;
    border-radius:2px;
    left:6%;
    border:1px solid #444;
    background-color:#aaa;
    overflow:hidden;
    background:url(../../assets/img/screen-content-iphone-6.jpg);
    background-size:cover;
    background-position:center;
}

.iphone-mockup .screen:before {
    content:'';
    background-color:#fff;
    position:absolute;
    width:70%;
    height:140%;
    top:-12%;
    right:-60%;
    transform:rotate(-19deg);
    opacity:0.2;
}



